* {
    margin: 0;
    padding: 0;
}

.container{
    /* alignment stuff */
    margin: 5% 10% 0px;
    height: 100vh;
}
.headerContainer{
    display: flex;
    height: 10vh;
    background-color: rgb(191, 235, 185);
    
}

#myname{
    font-size: 3rem;
    align-self: flex-end;
    margin-left: 10px;
}

.navbarhyperlink{
    color: white;
    align-self: flex-end;
    
}

.headernavbar{
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    /* text stuff */
    background-color: black;
    height: 5vh;
    color: white;
    text-decoration: dashed;

}

.headernavbar a:hover{
    color: rgb(248, 248, 76);
}

.headernavbar ul {
    list-style-type: none;
    justify-content: right;
}


.main{
    margin: 20px;

}
