.container{
    /* alignment stuff */
    margin: 64px 64px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    
}

.header a{
    /* text stuff */
    background-color: black;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10vw;
    height: 5vh;
    padding: 10px;
    margin: 10px;
    border: 10px;
    
    color: white;
    text-decoration: dashed;
    text-transform: uppercase;
    position: relative;
}

.header a:hover{
    color: rgb(248, 248, 76);
}
.content{
    justify-content: start;
    flex-direction: row;
}
/* 
.header a:visited{
    color: beige;
} */